html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;

}

body {
    display: table-cell;
    vertical-align: middle;
}

p {
    font-size: 30px;
    font-weight: bold;
    
}

table {
    background-color: red;
    height: 300px;
    width: 300px;
    padding: 50px;

    outline-style: ridge;
    outline-color:yellow;
    outline-width: 15px;

}

.cells {
    cursor:pointer;
    height: 33px;
    width: 33px;
    font-size: 25px;
    text-align: center;
    outline-style: groove;
    outline-color: green;
    outline-width: 5px;
    color: white;
}

.playerName {
    color: yellow;
    outline-style: solid;
    outline-color: cyan;

    font-weight: bold;

    padding: 10px;
}

.playerScore {
    color: white;

    outline-style: solid;
    outline-color: cyan;

    font-weight: bold;

    padding: 10px;

}



#newGameBox {
    background-color: cyan;
    height: 241px;
    width: 240px;
    padding: 30px;

    position: absolute;
    top: 235px;
    z-index: 9;

    opacity: .8;
}

#newGameBtn {
    box-shadow:inset -15px -7px 23px -2px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:42px;
	border:6px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
    text-shadow:0px 1px 41px #c70067;
    
    position: relative;
    top: -25px;
}

#newGameBtn:hover {
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}

#newGameBtn:active {
    position:relative;
	top:1px;
}

#scoreboard {
    background-color: blue;
    height: 115px;
    width: 315px;
    padding: 10px;

    position: relative;
    left: 320px;
    top: -310px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    z-index: 9;

    outline-style: groove;
    outline-color: yellow;
    outline-width: 5px;


}

#getUserInfo {
    background-color: teal;
    height: 300px;
    width: 300px;
    position: relative;
    z-index: 9;
}